
  <p class="cg-tip"><AnsiFormat @text={{this.model.cgInfo.rpg_blurb}} /></p>

  <div class="chargen-section-title">Sheet</div>
  
  {{#if (eq this.model.char.rpg.sheet_format 'url')}}
    {{input type="text" value=this.model.char.rpg.sheet size=100}}
  {{else if (eq this.model.char.rpg.sheet_format 'embed')}}
    {{input type="text" value=this.model.char.rpg.sheet size=100}}
  {{else}}
    <Textarea @value={{this.model.char.rpg.sheet}} cols={{80}} rows={{5}} />
  {{/if}}
  
  

  <div class="chargen-section-title">Sheet Notes</div>
  
  <Textarea @value={{this.model.char.rpg.sheet_notes}} cols={{80}} rows={{5}} />